.create {
  position: relative;
  background-color: white;
  margin: 1rem;
  margin-top: 5rem;
  padding: 2rem;
  padding-bottom: 5rem;
  width: 85%;
  min-height: 100vh;
  box-shadow: 5px 5px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goback{
  font-size: medium;
  color: gray;
  text-decoration: underline;
  border: none;
  background-color: white;
}

.main{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BBBBBB;
}

.button {
  background: #FFFFFF;
  border: 2px solid #007EA8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 4px;
  width: 122.25px;
  height: 38px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  color: #007EA8;
  position: relative;
}

.button:hover {
  background: #007EA8;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.goback:hover {
  color: lightgray;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.formbold-mb-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-img {
  display: block;
  margin: 0 auto 45px;
}

.formbold-input-wrapp > div {
  display: flex;
  gap: 20px;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder,
select.formbold-form-input{
  color: rgba(83, 99, 135, 0.5);
}

.formbold-form-input:focus {
  border-color: #007EA8;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: block;
}

.formbold-form-file-flex {
  margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formbold-form-file-flex .formbold-form-label {
  margin-bottom: 0;
}
.formbold-form-file {
  font-size: 14px;
  line-height: 24px;
  color: black;
  width: 200px;
}
.formbold-form-file::-webkit-file-upload-button {
  display: none;
}
.formbold-form-file:before {
  content: 'Choose File';
  display: inline-block;
  background: #EEEEEE;
  border: 0.8px solid black;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
}

.error {
  color: red;
  font-style: italic;
  font-size: 18px;
}

.formbold-w-45 {
  width: 100%;
}

.button {
  background: #FFFFFF;
  border: 2px solid #007EA8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #007EA8;
  margin-top: 25px;
}

.button:hover {
  background: #007EA8;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.formbold-radio {
  width: 20px;
  height: 20px;
}
.formbold-radio-label {
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  color: #070707;
  padding-right: 20px;
}

.formstyle{
  display: flex; 
  position: relative; 
  width:80%; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:690px){
  .formbold-form-file-flex{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formbold-input-flex, .formbold-main-wrapper{
    position:relative;
    flex-direction: column;
  }

  .formbold-radio{
    transform: scale(0.8);
  }
  .formbold-mb-3, .formbold-input-wrapp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .phone-num{
    display: flex;
    flex-direction: column;
  }

  .formstyle{
    width:100%; 
  }
}